body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: black;
  --secondary: #119b66;
  --tertiary: #ffffff;
  --outline: #989898;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-three: calc(2rem);
}

* {
  box-sizing: border-box;
  background-color: var(--tertiary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
  color: var(--primary);
}

p {
  color: var(--primary);
}

/* Styling for CSV Upload */
.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-input {
  width: 15% !important;
}

/* Styling for Filters component */
.filter-component {
  display: flex;
  justify-content: center !important;
}

.filter-criteria-button {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.filter-popup {
  display: none; /* Hide the pop-up initially */
  position: absolute; /* Absolute position relative to the parent */
  z-index: 1000; /* Make sure it's on top */
  width: 30%; /* Set the width of the pop-up */
  background-color: white;
  border-radius: 8px;
  margin-top: 50px; /* Space between the button and the pop-up */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  left: 0; /* Align the pop-up to the left side of the button */
}

/* This class should be added to the button's parent container */
.filter-button-container {
  display: flex;
  text-align: center;
}

.filter-container {
  max-height: 60vh; /* Limit the height of the pop-up */
  overflow-y: auto; /* Make it scrollable */
  padding: 10px;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.filter-search {
  /* Styles for the search input */
}

.filter-item {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align the checkbox and the select dropdown */
  margin-bottom: 10px;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-label {
  margin-left: 10px; /* Spacing between the checkbox and the label */
  width: 100%;
}

.condition-selector {
  margin-left: 10px; /* Spacing between the label and the condition selector */
}

.select {
  /* Styles for the condition selector */
}

.filter-actions {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.clear-filters-btn, .save-filters-btn {
  /* Styles for the action buttons */
}

.filter-criteria-button.active + .filter-popup {
  display: block; /* Show the pop-up when the button is active */
}



.title h1 {
  font-size: 2.75rem;
  font-weight: 800;
  margin-bottom: 0;
  color: var(--primary) !important;
}

.form h3 {
  font-weight: 600;
  color: var(--primary);
}

button {
  font-size: 1.25rem;
  font-weight: 800;
  text-decoration: none;
  color: var(--tertiary);
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--secondary);
  padding: 10px 15px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  box-shadow: 0 5px 20px rgba(92, 181, 182, 0.4);
}

/* OPTIONS COLUMNS */

.columns-container {
  display: flex;
  width: 80% !important;
  margin: auto !important;
}

.column {
  flex: 1;
  margin: 0 10px;
}

.health-factor {
  display: block;
  margin-bottom: 10px;
}

.options-wrapper {
  width: 70% !important;
  margin: auto !important;
}

.options-text {
  color: var(--primary);
}

.dropdown-container {
  display: flex;
  margin: auto;
  text-align: left;
  position: relative;
  max-width: 300px;
}

.dropdown-input {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dropdown-input:active {
  border-color: var(--secondary);
}

.dropdown-menu {
  position: absolute;
  top: 100%; /* Aligns the dropdown right below the input field */
  left: 0; /* Aligns the dropdown to the left edge of the container */
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
  max-height: 150px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.dropdown-item {
  padding: 5px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #efefef;
}

.dropdown-item.selected {
  background-color: #efefef;
}

.dropdown-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.dropdown-tag-item {
  background-color: #ffffff;
  padding: 2px 4px;
  border: 1px solid var(--secondary);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.dropdown-tag-close {
  display: flex;
  align-items: center;
}

.close-icon:hover {
  cursor: pointer;
}

.search-box {
  padding: 5px;
  background-color: #eee;
}
.search-box input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.name-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 50% !important;
  padding-top: 4rem;
  margin: auto !important;
}

.form-wrapper {
  margin: 0 400px 50px 400px !important;
}

.submit-wrapper {
  margin-bottom: 30px;
}

table {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  border: 1px solid var(--secondary);
}

.hidden-input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  width: 1px;
  height: 1px;
}

input {
  width: 30%;
}

.file-input-wrapper {
  position: relative;
}

.custom-file-label {
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--tertiary);
}

.group-name-input {
  flex-grow: 1;
  padding: 10px 15px;
  border: 1px solid var(--outline);
  border-radius: 4px;
  background-color: var(--tertiary);
  font-size: 1rem;
  font-style: italic;
}

.message p {
  color: var(--primary);
  font-style: italic;
  font-size: 1.25rem;
}

/* MARGIN PADDING UTILS */
.m-auto {
  margin: auto !important;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.mx-3 {
  margin-right: 2rem;
  margin-left: 2rem;
}

.mx-4 {
  margin-right: 30rem;
  margin-left: 30rem;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.mr-2 {
  margin-right: 2rem !important;
}

.mr-3 {
  margin-right: 3rem !important;
}

.mr-4 {
  margin-right: 4rem !important;
}

.mr-5 {
  margin-right: 5rem !important;
}

.ml-negative-2-5 {
  margin-left: -2.5rem !important;
}

.ml-3 {
  margin-left: 3rem !important;
}

.ml-5 {
  margin-left: 5rem !important;
}

.ml-6 {
  margin-left: 6rem !important;
}

.ml-10 {
  margin-left: 10rem !important;
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-3 {
  margin-top: var(--spacing-three);
  margin-bottom: var(--spacing-three);
}

.mt-2 {
  margin-top: var(--spacing-two);
}

.mt-3 {
  margin-top: var(--spacing-three);
}

.mt-4 {
  margin-top: 3rem;
}

.mb-2 {
  margin-bottom: var(--spacing-two);
}

.mb-3 {
  margin-bottom: var(--spacing-three);
}

.mb-4 {
  margin-bottom: 3rem;
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.px-3 {
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}

.px-4 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.px-5 {
  padding-right: 14rem !important;
  padding-left: 14rem !important;
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.py-3 {
  padding-top: var(--spacing-three);
  padding-bottom: var(--spacing-three);
}


/* FLEX GRID */
.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

.justify-flex-start {
  justify-content: flex-start;
}

.align-items-start {
  align-items: flex-start;
}

[class*='col-'] {
  position: relative;
  width: 100%;
  padding-right: 10px;
  padding-left: 5px;
}

.col-auto {
  flex-grow: 1;
  flex-basis: 0;
}

.col-1 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-2 {
  flex: 0 0 25%;
  max-width: 25%;
  padding-right: 20px;
}

.col-3 {
  flex: 0 0 33%;
  max-width: 33%;
}

.col-6 {
  flex: 0 0 16%;
  max-width: 16%;
}

/* TEXT STYLING */
.text-bold {
  font-weight: 700;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

/* MOBILE RESPONSIVE STYLING */
/* For phones: */
@media only screen and (max-width: 1024px) {
  main {
    width: 100vw;
  }

  .paragraph-text {
    padding: 0 !important;
  }

  .form-wrapper {
    margin: auto 100px !important;
  }

  .col-2 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  .col-1 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }


  .submit-wrapper {
    margin-top: 100px;
  }
}