body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: #5cfcff;
  --secondary: #F1F1F1;
  --tertiary: #2a2a2a;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-three: calc(4rem);
}

* {
  box-sizing: border-box;
  background-color: var(--tertiary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.title h1 {
  font-size: 2.75rem;
  font-weight: 800;
  margin-bottom: 0;
  color: var(--primary);
}

.form h3 {
  font-weight: 600;
  color: var(--secondary);
}

button {
  font-size: 1.5rem;
  font-weight: 800;
  text-decoration: none;
  color: var(--tertiary);
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--primary);
  padding: 10px 40px;
}

.form-wrapper {
  margin: 0 400px 50px 400px !important;
}

.submit-wrapper {
  margin-bottom: 30px;
}

.hidden-input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  width: 1px;
  height: 1px;
}

input {
  width: 50%;
}

.file-input-wrapper {
  position: relative;
}

.custom-file-label {
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--secondary);
}

.group-name-input {
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: var(--secondary);
  font-size: 1rem;
  font-style: italic;
}

.message p {
  color: var(--primary);
  font-style: italic;
  font-size: 1.25rem;
}

/* MARGIN PADDING UTILS */
.m-auto {
  margin: auto !important;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.mx-3 {
  margin-right: 2rem;
  margin-left: 2rem;
}

.mx-4 {
  margin-right: 30rem;
  margin-left: 30rem;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.mr-2 {
  margin-right: 2rem !important;
}

.mr-3 {
  margin-right: 3rem !important;
}

.mr-4 {
  margin-right: 4rem !important;
}

.mr-5 {
  margin-right: 5rem !important;
}

.ml-negative-2-5 {
  margin-left: -2.5rem !important;
}

.ml-3 {
  margin-left: 3rem !important;
}

.ml-5 {
  margin-left: 5rem !important;
}

.ml-6 {
  margin-left: 6rem !important;
}

.ml-10 {
  margin-left: 10rem !important;
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-3 {
  margin-top: var(--spacing-three);
  margin-bottom: var(--spacing-three);
}

.mt-3 {
  margin-top: var(--spacing-three);
}

.mb-2 {
  margin-bottom: var(--spacing-two);
}

.mb-3 {
  margin-bottom: 2rem;
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.px-3 {
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}

.px-4 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.px-5 {
  padding-right: 14rem !important;
  padding-left: 14rem !important;
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.py-3 {
  padding-top: var(--spacing-three);
  padding-bottom: var(--spacing-three);
}


/* FLEX GRID */
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

.justify-flex-start {
  justify-content: flex-start;
}

.align-items-start {
  align-items: flex-start;
}

[class*='col-'] {
  position: relative;
  width: 100%;
  padding-right: 10px;
  padding-left: 5px;
}

.col-auto {
  flex-grow: 1;
  flex-basis: 0;
}

.col-1 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-2 {
  flex: 0 0 25%;
  max-width: 25%;
  padding-right: 20px;
}

.col-3 {
  flex: 0 0 20%;
  max-width: 20%;
}

/* MOBILE RESPONSIVE STYLING */
/* For phones: */
@media only screen and (max-width: 1024px) {
  main {
    width: 100vw;
  }

  .paragraph-text {
    padding: 0 !important;
  }

  .form-wrapper {
    margin: auto 100px !important;
  }

  .col-2 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  .col-1 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  input {
    width: 100% !important;
  }

  .comment-box textarea {
    width: 94% !important;
  }

  .submit-wrapper {
    margin-top: 100px;
  }
}